<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TruckApplication</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Action/ListServices</servlet-name>
    <servlet-class>Action/ListServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/ListServices</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Action/GoBackAction</servlet-name>
    <servlet-class>Action/GoBackAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/GoBackAction</servlet-name>
    <url-pattern>/goback</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Action/LoginAction</servlet-name>
    <servlet-class>Action/LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action/LoginAction</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>